<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>书架</title>
</head>
<body>
<div th:unless="${#lists.isEmpty(bookList)}">
    <dl th:each="book:${bookList}">
        <dt>
            <span th:text="${book.title}" >Title</span> By
            <span th:text="${book.author}">Author</span>
            (ISBN<span th:text="${book.isbn}">ISBN</span>)
        </dt>
        <dd class="bookDescription">
            <span th:if="${book.description}" th:text="${book.description}">Description</span>
            <span th:if="${book.description eq null}">No description available</span>
        </dd>
        <dd>
            <a th:href="'/book/read?id='+${book.id}">查看详情</a>
        </dd>
    </dl>
</div>
<div>
    <h2>新增书籍</h2>
    <form th:method="post" th:action="@{/book/read}" method="post" th:object="${updateBook}">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" />
        <label for="author">Author:</label>
        <input type="text" name="author" id="author"/>
        <label for="isbn">ISBN:</label>
        <input type="text" name="isbn" id="isbn" />
        <label for="description">Description:</label>
        <input type="text" name="description" id="description" />
        <input type="submit" />
    </form>
</div>
</body>
</html>